body{
    padding: 10px;
    

background: #1e3c72; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
table{
    color: white;
}
.header{
    color: white;
    font-size:32px;
    font-family: verdana;
    padding-left: 30%;
}
.form{
    margin-top: 10%;
    padding-left: 20%;
    font-size:25px;
    font-family: cursive;
}
.input,.select,.date{
    color: black;
}
.sub{
    margin top;3px;
    margin-left: 25%;
   
}